@use "variables";

:root {
  --background: var(--body-color);
  --foreground: var(--text-default-color);

  --border: var(--border-color);
  --input: var(--text-light-color);
  --ring: var(--primary-color);
  --light: var(--light-color);
  --dark: var(--dark-color);

  --card: var(--light-color);
  --card-foreground: var(--text-default-color);

  --popover: var(--light-color);
  --popover-foreground: var(--text-default-color);

  --primary: var(--primary-color);
  --primary-foreground: var(--text-white-color);

  --muted: var(--mute-color);
  --muted-foreground: var(--text-light-color);

  --accent: var(--accent-color);
  --accent-foreground: var(--text-white-color);

  --destructive: var(--danger-color);
  --destructive-foreground: var(--text-white-color);

  --success: var(--success-color);
  --success-foreground: var(--text-white-color);

  --warning: var(--warning-color);
  --warning-foreground: var(--text-white-color);

  --text-color: var(--text-default-color);
  --text-dark: var(--text-dark-color);
  --text-light: var(--text-light-color);
}

html {
  @apply text-base;
}

body {
  @apply bg-background font-primary font-normal leading-relaxed text-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold leading-tight text-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4 font-medium;
}

h5,
.h5 {
  @apply text-h5 font-medium;
}

h6,
.h6 {
  @apply text-h6 font-medium;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}
