/* table loader */
.loader {
  @apply bg-slate-50 w-full h-2 rounded relative;
}

.loader .loader-line {
  @apply bg-primary w-[200px] h-2 rounded absolute left-0 z-10;
  animation: line-bounce 5s infinite;
}

.stretched-link::after {
  @apply absolute top-0 right-0 bottom-0 left-0 z-10 content-[""];
}

@keyframes line-bounce {
  0% {
    left: calc(100% - 200px);
  }
  50% {
    left: 0;
  }
  100% {
    left: calc(100% - 200px);
  }
}

.pointer-bullet {
  @apply before:bg-transparent before:content-[''] before:size-[14px] before:rounded-full before:border before:border-border before:absolute before:left-6 before:top-6 before:translate-y-1/2 !pl-12;

  &.completed {
    @apply before:border-border before:p-1 before:border after:bg-primary after:content-[''] after:size-[7px] after:rounded-full after:absolute after:-translate-y-1/2 after:-translate-x-1/2 after:left-[31px] after:top-[38px];
  }

  & + div {
    @apply pl-12;
  }
}
