@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "../tailwind-plugin/tw-bs-grid";

@import "./theme.css";
@import "./variables.css";

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./components.css";
}
