:root {
  --body-color: #fff;
  --primary-color: #121212;
  --border-color: #eaeaea;
  --light-color: #f6f6f6;
  --dark-color: #121212;
  --accent-color: #00bfff;
  --mute-color: #e4e4e4;
  --danger-color: #ff0000;

  --text-primary-color: #fff;
  --text-default-color: #444444;
  --text-light-color: #717171;
  --text-dark-color: #040404;
}
