/* change your theme variable in theme.css */

:root {
  --background: var(--body-color);
  --foreground: var(--text-default-color);

  --border: var(--border-color);
  --ring: var(--text-default-color);
  --light: var(--light-color);
  --dark: var(--dark-color);

  --card: var(--body-color);
  --card-foreground: var(--text-default-color);

  --popover: var(--light-color);
  --popover-foreground: var(--text-default-color);

  --primary: var(--primary-color);
  --primary-foreground: var(--text-white-color);

  --muted: var(--muted-color);
  --muted-foreground: var(--text-muted-color);

  --accent: var(--accent-color);
  --accent-foreground: var(--text-white-color);

  --destructive: var(--danger-color);
  --destructive-foreground: var(--text-white-color);

  --success: var(--success-color);
  --success-foreground: var(--text-white-color);

  --warning: var(--warning-color);
  --warning-foreground: var(--text-white-color);

  --text-color: var(--text-default-color);
  --text-dark: var(--text-dark-color);
  --text-light: var(--text-light-color);
}

.dark {
  --background: var(--body-color);
  --foreground: var(--text-default-color);

  --border: var(--border-color);
  --ring: var(--text-default-color);
  --light: var(--light-color);
  --dark: var(--dark-color);

  --card: var(--body-color);
  --card-foreground: var(--text-default-color);

  --popover: var(--light-color);
  --popover-foreground: var(--text-default-color);

  --primary: var(--primary-color);
  --primary-foreground: var(--text-white-color);

  --muted: var(--muted-color);
  --muted-foreground: var(--text-muted-color);

  --accent: var(--accent-color);
  --accent-foreground: var(--text-white-color);

  --destructive: var(--danger-color);
  --destructive-foreground: var(--text-white-color);

  --success: var(--success-color);
  --success-foreground: var(--text-white-color);

  --warning: var(--warning-color);
  --warning-foreground: var(--text-white-color);

  --text-color: var(--text-default-color);
  --text-dark: var(--text-dark-color);
  --text-light: var(--text-light-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-text: var(--text-color);
  --color-text-dark: var(--text-dark);
  --color-text-light: var(--text-light);

  --radius: var(--radius);

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);

  --text-base: var(--font-base);
  --text-base-sm: calc(var(--font-base) * 0.8);
  --text-h6: calc(1 * var(--font-scale));
  --text-h5: calc(var(--text-h6) * var(--font-scale));
  --text-h4: calc(var(--text-h5) * var(--font-scale));
  --text-h3: calc(var(--text-h4) * var(--font-scale));
  --text-h3-sm: calc(var(--text-h3) * 0.9);
  --text-h2: calc(var(--text-h3) * var(--font-scale));
  --text-h2-sm: calc(var(--text-h2) * 0.9);
  --text-h1: calc(var(--text-h2) * var(--font-scale));
  --text-h1-sm: calc(var(--text-h1) * 0.9);
}
