:root {
  --body-color: 0 0% 100%; // white
  --primary-color: 0 0% 0%; // black
  --border-color: 218 11% 65%; // gray-100
  --light-color: 210 20% 98%; // gray-50
  --dark-color: 221 39% 11%; // gray-900
  --accent-color: 217 33% 17%; // blue-600
  --mute-color: 216 12% 84%; //gray-300
  --danger-color: 347 77% 50%; // rose-600
  --success-color: 140 69% 38%; // green-600
  --warning-color: 46 86% 42%; // yellow-600

  --text-white-color: 0 0% 100%; // gray-100
  --text-default-color: 217 33% 17%; // gray-900
  --text-light-color: 220 9% 46%; // gray-500
  --text-dark-color: 217 33% 17%; // gray-900
}
